<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>List of Courses</h3>
      <div class="btn btn-primary" (click)="createForm()">Create</div>


      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Fee</th>
            <th>StartDate</th>
            <th>View StudentInfo</th>
            <th>Update</th>
            <th>Delete</th>



          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.duration}}</td>
            <td>{{course.fee}}</td>
            <td>{{course.startDate}}</td>
            <td><i class="fa fa-eye" aria-hidden="true" style="font-size:24px;cursor: pointer; color:green" [routerLink]="['/coursedetail',course.id]"></i></td>
            <td><i style="font-size:24px;cursor: pointer; color:blue" class="fa" [routerLink]="['/editCourse',course.id]" >&#xf040;</i></td>
            <td><i style="font-size:24px;cursor: pointer; color:red" class="fa" (click)="deleteCourse(course.id)" >&#xf014;</i></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>


<div class="container" *ngIf="showForm">

  <h3>Create Student Record</h3>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="data.name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="duration">Duration</label>
    <input   class="form-control" id="duration" [(ngModel)]="data.duration" placeholder="Enter Duration">
  </div>
  <div class="form-group">
    <label for="fee">Fee</label>
    <input  class="form-control" id="fee" [(ngModel)]="data.fee" placeholder="Enter fee">
  </div>
  <div class="form-group">
    <label for="startDate">StartDate</label>
    <input type="text" class="form-control" id="startDate" [(ngModel)]="data.startDate" placeholder="Enter Date">
  </div>

  <button type="submit" class="btn btn-primary" (click)="addCourse()">Add</button>
</div>




