<div class="container">
  <div class="row">
    <div class="col-xs-12" *ngIf="selectedCourse">
      <h3>Course Details</h3>


      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"  [(ngModel)]="selectedCourse.name" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="text" class="form-control" id="duration" [(ngModel)]="selectedCourse.duration" placeholder="Enter duration">
      </div>

      <div class="form-group">
        <label for="fee">Fee</label>
        <input  class="form-control" id="fee" [(ngModel)]="selectedCourse.fee" placeholder="Enter fee">
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="text" class="form-control" id="startDate" [(ngModel)]="selectedCourse.fee" placeholder="Enter fee">
      </div>





      <div style="margin-top:30px">
        <button type="submit" class="btn btn-lg btn-warning ml-1" (click)='goback()' >Back</button>
      </div>




    </div>
  </div>

</div>
